@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px 'Open Sans', sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font: 400 18px 'Open Sans', sans-serif;
}

button {
  cursor: pointer;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}


form input, form textarea {
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid #dcdcd6;
  border-radius: 8px;
  padding: 0 24px;
}
form textarea {
  min-height: 140px;
  padding: 16px 24px;
  line-height: 24px;
  resize: vertical;
}

.button {
  width: 100%;
  height: 60px;
  background: #e02041;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(90%);
}


.back-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #41414b;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  transition:  opcaity 0.2s;
}

.back-link svg {
  margin-right: 8px;
}


.back-link:hover {
  opacity: 0.8;
}